*{
    box-sizing: border-box;
}

html{
    font-size: 62,5%;
    scroll-behavior: smooth;
}

body{
    background-image: url(img/background.png);
    background-attachment: fixed;
    background-position: center;
    font-family: 'Gochi Hand', cursive!important;
    overflow: hidden;
}



.jumbotron{
    margin-top: 5rem!important;
    margin: 0 auto;
    background-color: #f5e1a1e8;
    border-radius: 3rem;
    /* font-family: 'Baloo Bhaina 2', cursive; */
    
}

.jumbotron img {
    max-width: 100%;
    
}

@media screen and (min-width: 768px){
  
    .jumbotron{
        margin: 0 auto;
        width: 35%!important;
    }
}



.btn-kitty{
    background-color: rgb(241,214,80);
    color: #000000;
    transition: all 0.5s ease-in-out;
    font-size: 1.5rem;
    -webkit-box-shadow: 10px 2px 30px -6px rgba(0,0,0,0.62);
    -moz-box-shadow: 10px 2px 30px -6px rgba(0,0,0,0.62);
    box-shadow: 10px 2px 30px -6px rgba(0,0,0,0.62);
    text-transform: capitalize;
    padding: 1rem 2rem;
}

.btn-kitty:hover{
    transform: scale(1.1);
    background-color: rgba(241,214,80,0.5);
    border: 1px solid #BDE1E5;
    color: #424242;
}



.modal-content{
    background-color: #ecebeb;
}

.modal-header{
    border-bottom: transparent;
}

.modal-footer{
    border-top: transparent;
}

.btn-close{
    background-color: #B7D1C5;
    color: #000000;
}

.btn-close:hover{
    background-color: #BDE1E5;
    border: 1px solid #BDE1E5;
}

